[submodule "dependencies/uvatlas"]
	path = dependencies/uvatlas
	url = https://github.com/microsoft/UVAtlas
[submodule "dependencies/directx-headers"]
	path = dependencies/directx-headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "dependencies/directx-mesh"]
	path = dependencies/directx-mesh
	url = https://github.com/microsoft/DirectXMesh
[submodule "dependencies/directx-math"]
	path = dependencies/directx-math
	url = https://github.com/microsoft/DirectXMath
[submodule "dependencies/draco"]
	path = dependencies/draco
	url = https://github.com/google/draco
